@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
.app {
    position: relative;
    & > h1 {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1.6rem;
        color: var(--text1);
        text-align: center;
        width: 100%;
        font-family: "Luckiest Guy", cursive, sans-serif;
    }
}
.myCallContainer {
    background: var(--bg);
    color: var(--text1) !important;
    font-family: sans-serif;

    .BYpXSnOHfrC2td4QRijO {
        .zzHlKp_IVmgXBPV3Jv58 {
            .D9WLyEQaARfWqCTyVrpU {
                background: var(--bg);
                box-shadow: none;
                border: none;
                // width: 90%;
                max-width: 70rem;

                .sJcgXLqA2Va2eqymgksg {
                    background: var(--bg-dark);
                    width: 50%;
                }

                .pOvRwHj19chJGkgemUH3 {
                    width: 50%;

                    .rQfcdxdAd98I2u3wR_Xv {
                        ._M8cCug8H18ALQ05cNMt {
                            font-size: 2rem;
                            color: var(--text1);
                            width: 100%;
                        }

                        input {
                            background: none;
                            border: 2px solid var(--text1);
                            color: var(--text1);
                            width: 100%;
                        }

                        .b1CJxMvQdas9l4lGoyfA {
                            button {
                                background: var(--pri);
                                color: var(--text1);
                                font-size: 1rem;
                                width: 100%;
                            }
                        }
                    }

                    .dQDNvqxeCXpZG5yOs9Ou {
                        ._M8cCug8H18ALQ05cNMt {
                            color: var(--text1);
                        }

                        .VNZilENM9Pb7KbRFOkYR {
                            background: none;
                            border: 2px solid var(--text1);
                            justify-content: space-around;

                            .rfwQfzz6DVBVPNyQIs9o {
                                h3 {
                                    color: var(--text1);
                                }
                                input {
                                    background: none;
                                    color: var(--text1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
